<header id="header">
  <nav id="header_nav">
    <span class="welcome">
    您好，欢迎来到人人来商城！[<%= link_to '请登录', goto_login_users_path %>]，新用户？[<%= link_to '免费注册', new_user_path %>]
  </span>
    <ul class="shortcut">
      <% @shortcuts.each do |key, value| %>
          <li class="shortcut-item">
            <a href="<%= value %>" target="_blank" title="<%= key %>"><%= key %></a>
          </li>
      <% end %>
    </ul>
  </nav>
</header>