<%= form_for(@product) do |f| %>
  <% if @product.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@product.errors.count, "error") %> prohibited this product from being saved:</h2>

      <ul>
      <% @product.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :price %><br />
    <%= f.text_field :price %>
  </div>
  <div class="field">
    <%= f.label :belonged_shop %><br />
    <%= f.text_field :belonged_shop %>
  </div>
  <div class="field">
    <%= f.label :area %><br />
    <%= f.text_field :area %>
  </div>
  <div class="field">
    <%= f.label :deals %><br />
    <%= f.number_field :deals %>
  </div>
  <div class="field">
    <%= f.label :trans_expense %><br />
    <%= f.text_field :trans_expense %>
  </div>
  <div class="field">
    <%= f.label :picture %><br />
    <%= f.text_field :picture %>
  </div>
  <div class="field">
    <%= f.label :color %><br />
    <%= f.text_field :color %>
  </div>
  <div class="field">
    <%= f.label :eval_grade %><br />
    <%= f.text_field :eval_grade %>
  </div>
  <div class="field">
    <%= f.label :own_score %><br />
    <%= f.text_field :own_score %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
